@model IEnumerable<Team3Store.Domain.Entities.ModelBase>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categories</h2>
<body>

    <a href="">


    </a>



</body>

