@using Team3Store.Domain.Entities
@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>
<div class="row">
    
    @foreach (var p in Model)
    {

        <div class="col-sm-4">
            <h3>@p.Name</h3>
            <br />
            @p.Description
            <br />
            <img src=@p.ImgUrl width="300" height="350">
            <br />
            <br />

            @Html.ActionLink("See more...", "Description", "PortalProducts", new { productId = p.Id }, new { @class = "btn btn-primary" })

        </div>
    }
</div>